@import './mana.less';

.manaBox {
  width: 90%;
  border-style: solid;
  border-width: 1px;
  border-color: #0d0d0d;
  margin-bottom: 1.25rem;
  padding: .625rem;
  background: #334e60;
  color: #e1e1e1;
  background-image: linear-gradient(to top,#272d42 0%,#23283c 75%,#1d2232 100%);
  box-shadow: inset 0 3px 10px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.15);

  a {
    display: inline-block;
    background: #efefef;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    padding: .26em;
    border: solid 1px #fff;
    box-shadow: inset 1px 2px #ddd;
    margin: 4px;
  }
  i {
    display: inline-block;
    position: relative;
    left: 0;
    background-image: url(../../assets/spritesheet.png);
    background-repeat: no-repeat;
  }
}

.btnBox {
  margin-top: 20px;
  text-align: center;

  button {
    margin: 0 20px;
  }
}
