.sprite-0 {
  width: 15px;
  height: 15px;
  background-position: -5px -5px
}
.sprite-1 {
  width: 15px;
  height: 15px;
  background-position: -30px -5px
}
.sprite-10 {
  width: 15px;
  height: 15px;
  background-position: -55px -5px
}
.sprite-11 {
  width: 15px;
  height: 15px;
  background-position: -80px -5px
}
.sprite-12 {
  width: 15px;
  height: 15px;
  background-position: -105px -5px
}
.sprite-2 {
  width: 15px;
  height: 15px;
  background-position: -130px -5px
}
.sprite-3 {
  width: 15px;
  height: 15px;
  background-position: -5px -30px
}
.sprite-4 {
  width: 15px;
  height: 15px;
  background-position: -30px -30px
}
.sprite-5 {
  width: 15px;
  height: 15px;
  background-position: -55px -30px
}
.sprite-6 {
  width: 15px;
  height: 15px;
  background-position: -80px -30px
}
.sprite-7 {
  width: 15px;
  height: 15px;
  background-position: -105px -30px
}
.sprite-8 {
  width: 15px;
  height: 15px;
  background-position: -130px -30px
}
.sprite-9 {
  width: 15px;
  height: 15px;
  background-position: -5px -55px
}
.sprite-mana_b {
  width: 14px;
  height: 15px;
  background-position: -30px -55px
}
.sprite-mana_bg {
  width: 14px;
  height: 15px;
  background-position: -54px -55px
}
.sprite-mana_br {
  width: 14px;
  height: 15px;
  background-position: -78px -55px
}
.sprite-mana_c {
  width: 14px;
  height: 15px;
  background-position: -102px -55px
}
.sprite-mana_g {
  width: 14px;
  height: 15px;
  background-position: -126px -55px
}
.sprite-mana_gu {
  width: 14px;
  height: 15px;
  background-position: -5px -80px
}
.sprite-mana_gw {
  width: 14px;
  height: 15px;
  background-position: -29px -80px
}
.sprite-mana_pb {
  width: 14px;
  height: 15px;
  background-position: -53px -80px
}
.sprite-mana_pc {
  width: 14px;
  height: 15px;
  background-position: -77px -80px
}
.sprite-mana_pg {
  width: 14px;
  height: 15px;
  background-position: -101px -80px
}
.sprite-mana_pr {
  width: 14px;
  height: 15px;
  background-position: -125px -80px
}
.sprite-mana_pu {
  width: 14px;
  height: 15px;
  background-position: -5px -105px
}
.sprite-mana_pw {
  width: 14px;
  height: 15px;
  background-position: -29px -105px
}
.sprite-mana_r {
  width: 14px;
  height: 15px;
  background-position: -53px -105px
}
.sprite-mana_rg {
  width: 14px;
  height: 15px;
  background-position: -77px -105px
}
.sprite-mana_rw {
  width: 14px;
  height: 15px;
  background-position: -101px -105px
}
.sprite-mana_t {
  width: 14px;
  height: 15px;
  background-position: -125px -105px
}
.sprite-mana_u {
  width: 14px;
  height: 15px;
  background-position: -5px -130px
}
.sprite-mana_ub {
  width: 14px;
  height: 15px;
  background-position: -29px -130px
}
.sprite-mana_ur {
  width: 14px;
  height: 15px;
  background-position: -53px -130px
}
.sprite-mana_w {
  width: 14px;
  height: 15px;
  background-position: -77px -130px
}
.sprite-mana_wb {
  width: 14px;
  height: 15px;
  background-position: -101px -130px
}
.sprite-mana_wu {
  width: 14px;
  height: 15px;
  background-position: -125px -130px
}
.sprite-tap {
  width: 15px;
  height: 15px;
  background-position: -155px -5px
}
.sprite-x {
  width: 15px;
  height: 15px;
  background-position: -155px -30px
}
