.wrapper {
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: 1400px;
  background: #151a1f url(../assets/wrapper_bg.jpg) repeat;
  box-shadow: 0 -2px 5px #1a1a1a;
  color: #fdffdf;
}

.lightYellow {
  color: #fdffdf;
}
